.log-in {
  margin: 150px 0;
  h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }
  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 40px 0;
    @media (max-width: 767px) {
      br {
        display: none;
      }
    }
  }

  form {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    max-width: 540px;
    margin: 0 auto;

    &.reset-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.sign-up {
      button {
        width: 285px;
        max-width: 100%;
      }
    }

    button {
      width: 180px;
      margin: 20px auto 0 auto;
      border: none;
    }

    .success{
      text-align: center;
      font-size: 14px;
      color: #fff;
    }

    > div {
      width: 255px;
      position: relative;

      @media (max-width: 992px) {
        width: 100%;
      }

      &.button-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .error {
        position: absolute;
        left: 0;
        font-size: 12px;
        color: #ff5353;
      }
      input {
        width: 100%;
        height: 50px;
        padding: 0 20px;
        background: #ffffff1a;
        border: 1px solid #ffffff33;
        border-radius: 25px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        &::placeholder {
          color: #ffffff80;
        }
        &.invalid {
          border-color: #ff5353;
        }
      }

      &.checkbox {
        width: 260px;
        margin: 0 auto;
        position: relative;
        @media (max-width: 992px) {
          width: 100%;
        }
        .error {
          position: absolute;
          left: 0;
          font-size: 12px;
          color: #ff5353;
        }
        input {
          display: none;
          &:checked + label {
            svg {
              rect {
                &:last-child {
                  opacity: 1;
                }
              }
            }
          }
        }
        label {
          display: flex;
          align-items: flex-start;
          gap: 10px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          svg {
            width: 20px;
            height: 20px;
            margin-top: -5px;
            rect {
              &:last-child {
                opacity: 0;
              }
            }
          }
          span {
            width: calc(100% - 30px);
            a {
              color: #ea4073;
            }
          }
        }
      }
    }
    .reset {
      width: 100%;
      color: #ffffff;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      text-decoration: underline;
    }
  }
}


.change-password {
  margin: 150px 0;
  h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }
  p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 40px 0;
    @media (max-width: 767px) {
      br {
        display: none;
      }
    }
  }

  button {
    width: 250px;
    margin: 50px auto 0 auto;
    border: none;
  }
  .success{
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
  }
  .password-data {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    max-width: 540px;
    margin: 0 auto;

    &.reset-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.sign-up {
      button {
        width: 285px;
        max-width: 100%;
      }
    }

    

    .success{
      text-align: center;
      font-size: 14px;
      color: #fff;
    }

    > div {
      width: 255px;
      position: relative;

      @media (max-width: 992px) {
        width: 100%;
      }

      &.button-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .error {
        position: absolute;
        left: 0;
        font-size: 12px;
        color: #ff5353;
      }
      input {
        width: 100%;
        height: 50px;
        padding: 0 20px;
        background: #ffffff1a;
        border: 1px solid #ffffff33;
        border-radius: 25px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        &::placeholder {
          color: #ffffff80;
        }
        &.invalid {
          border-color: #ff5353;
        }
      }

      &.checkbox {
        width: 260px;
        margin: 0 auto;
        position: relative;
        @media (max-width: 992px) {
          width: 100%;
        }
        .error {
          position: absolute;
          left: 0;
          font-size: 12px;
          color: #ff5353;
        }
        input {
          display: none;
          &:checked + label {
            svg {
              rect {
                &:last-child {
                  opacity: 1;
                }
              }
            }
          }
        }
        label {
          display: flex;
          align-items: flex-start;
          gap: 10px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          svg {
            width: 20px;
            height: 20px;
            margin-top: -5px;
            rect {
              &:last-child {
                opacity: 0;
              }
            }
          }
          span {
            width: calc(100% - 30px);
            a {
              color: #ea4073;
            }
          }
        }
      }
    }
    .reset {
      width: 100%;
      color: #ffffff;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      text-decoration: underline;
    }
  }
}

.account-wrap {
  margin: 70px 0 100px 0;
  &__body {
    display: flex;
    gap: 30px;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    .account-nav {
      width: 255px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
      @media (max-width: 992px) {
        width: 100%;
      }
      li {
        cursor: pointer;
        color: #ffffff80;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
        padding: 10px 30px 10px 30px;
        height: 60px;
        background: #2f2d34;
        border-radius: 20px;
        border: none;
        display: flex;
        align-items: center;
        svg {
          margin-right: 10px;
        }
        &.active {
          color: #ffffff;
          &::before {
            content: "";
            display: block;
            width: 4px;
            height: 30px;
            background: #ea4073;
            border-radius: 20px;
          }
          span {
            margin-left: 15px;
          }
        }
      }
    }

    .account-content {
      width: calc(100% - 285px);
      @media (max-width: 992px) {
        width: 100%;
      }
      .hidden {
        display: none;
      }
      p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 16px 0;
      }

      h2 {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 30px 0;
      }

      .success{
        text-align: left;
        font-size: 14px;
        color: #fff;
      }

      form {
        .billing-data {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;

          > div {
            width: 255px;
            position: relative;

            @media (max-width: 992px) {
              width: 100%;
            }

            &.button-wrap {
              width: 100%;
              display: flex;
              justify-content: center;
            }

            .error {
              position: absolute;
              left: 0;
              font-size: 12px;
              color: #ff5353;
            }
            input {
              width: 100%;
              height: 50px;
              padding: 0 20px;
              background: #ffffff1a;
              border: 1px solid #ffffff33;
              border-radius: 25px;
              color: #fff;
              font-size: 16px;
              font-weight: 400;
              line-height: 1.2;
              text-align: left;
              &::placeholder {
                color: #ffffff80;
              }
              &.invalid {
                border-color: #ff5353;
              }
            }

            &.checkbox {
              width: 260px;
              margin: 0 auto;
              position: relative;
              @media (max-width: 992px) {
                width: 100%;
              }
              .error {
                position: absolute;
                left: 0;
                font-size: 12px;
                color: #ff5353;
              }
              input {
                display: none;
                &:checked + label {
                  svg {
                    rect {
                      &:last-child {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
              label {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                color: #fff;
                font-size: 12px;
                font-weight: 400;
                line-height: 1.2;
                text-align: left;
                svg {
                  width: 20px;
                  height: 20px;
                  margin-top: -5px;
                  rect {
                    &:last-child {
                      opacity: 0;
                    }
                  }
                }
                span {
                  width: calc(100% - 30px);
                  a {
                    color: #ea4073;
                  }
                }
              }
            }
          }
        }
        button {
          width: 255px;
          height: 50px;
          margin-top: 30px;
        }
      }

      .change-password {
        margin-top: 100px;
        button{
          margin: 30px 0 0 0;
        }
        .password-data {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 30px;
          margin: 0;
          > div {
            width: 255px;
            position: relative;

            @media (max-width: 992px) {
              width: 100%;
            }

            &.button-wrap {
              width: 100%;
              display: flex;
              justify-content: center;
            }

            .error {
              position: absolute;
              left: 0;
              font-size: 12px;
              color: #ff5353;
            }
            input {
              width: 100%;
              height: 50px;
              padding: 0 20px;
              background: #ffffff1a;
              border: 1px solid #ffffff33;
              border-radius: 25px;
              color: #fff;
              font-size: 16px;
              font-weight: 400;
              line-height: 1.2;
              text-align: left;
              &::placeholder {
                color: #ffffff80;
              }
              &.invalid {
                border-color: #ff5353;
              }
            }

            &.checkbox {
              width: 260px;
              margin: 0 auto;
              position: relative;
              @media (max-width: 992px) {
                width: 100%;
              }
              .error {
                position: absolute;
                left: 0;
                font-size: 12px;
                color: #ff5353;
              }
              input {
                display: none;
                &:checked + label {
                  svg {
                    rect {
                      &:last-child {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
              label {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                color: #fff;
                font-size: 12px;
                font-weight: 400;
                line-height: 1.2;
                text-align: left;
                svg {
                  width: 20px;
                  height: 20px;
                  margin-top: -5px;
                  rect {
                    &:last-child {
                      opacity: 0;
                    }
                  }
                }
                span {
                  width: calc(100% - 30px);
                  a {
                    color: #ea4073;
                  }
                }
              }
            }
          }
        }
      }

      .orders-wrap {
        overflow-x: auto;
        .orders {
          border-collapse: collapse;
          margin: 0 auto;
          width: 825px;
          th {
            width: 20%;
            padding: 0 0 20px 0;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2;
            text-align: left;
            text-transform: uppercase;
            border-bottom: 1px solid #ffffff4d;
            color: #ffffff;
          }
          td {
            width: 20%;
            padding: 20px 0 20px 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            color: #ffffff99;
            text-align: left;
            border-bottom: 1px solid #ffffff4d;
            text-transform: capitalize;
            a {
              color: #ea4073;
            }
          }
        }
      }
    }
  }
}
