@import "mixin";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "ZonaPro";
  src: url("/fonts/ZonaPro-Regular.eot");
  src: url("/fonts/ZonaPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ZonaPro-Regular.woff2") format("woff2"),
    url("/fonts/ZonaPro-Regular.woff") format("woff"),
    url("/fonts/ZonaPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ZonaPro";
  src: url("/fonts/ZonaPro-SemiBold.eot");
  src: url("/fonts/ZonaPro-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ZonaPro-SemiBold.woff2") format("woff2"),
    url("/fonts/ZonaPro-SemiBold.woff") format("woff"),
    url("/fonts/ZonaPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ZonaPro";
  src: url("/fonts/ZonaPro-Bold.eot");
  src: url("/fonts/ZonaPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ZonaPro-Bold.woff2") format("woff2"),
    url("/fonts/ZonaPro-Bold.woff") format("woff"),
    url("/fonts/ZonaPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.dark {
  background: #0f0f0f;
}

body {
  margin: 0;
  background: #191919;
  font-family: "ZonaPro", sans-serif;
  @media (max-width: 992px) {
  }
  &.no-scroll {
    overflow: hidden;
    padding-right: 12px;
    @media (max-width: 992px) {
      padding-right: 0;
    }
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #2f2d34;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ea4073;
    border-radius: 100px;
  }
}

input,
textarea,
select {
  font-family: "ZonaPro", sans-serif !important;
}

* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none !important;
  @media (max-width: 992px) {
    outline: none !important;
  }
}

.section-title {
  color: var(--2, #282828);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  @media (max-width: 992px) {
    font-size: 40px;
  }
}

@media screen and (min-width: 992px) {
  /*html, body{
		overflow-x:hidden;
	}*/
  .dt-hidden {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .iti.iti--container {
    z-index: 1999999999 !important;
  }
  .mob-hidden {
    display: none !important;
  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  @media (max-width: 1375px) {
    max-width: $md1 + px;
  }
  @media (min-width: 1600px) {
    //max-width: $maxWidth;
  }
}

.site {
  position: relative;
  overflow: hidden;
}

@keyframes flyAway {
  20% {
    transform: translateY(-160%) translateX(150%); /* Adjust values to control the ending position */
  }
  25% {
    transform: translateY(-160%) translateX(-9999%); /* Adjust values to control the ending position */
  }
  30% {
    transform: translateY(160%) translateX(-9999%); /* Adjust values to control the ending position */
  }
  60% {
    transform: translateY(160%) translateX(-150%); /* Adjust values to control the ending position */
  }
  100% {
    transform: translateY(0) translateX(0); /* Adjust values to control the ending position */
  }
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

button {
  cursor: pointer;
  font-family: "ZonaPro", sans-serif;
}

.logo {
  display: flex;
  img {
    width: 190px;
    @media (max-width: 992px) {
      max-width: 130px;
    }
  }
}

.white-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  height: 30px;
  width: 95px;
  color: #191919;
  background: #ffffff;
  border-radius: 63px;
}

.main-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: #ea4073;
  padding: 5px 5px 5px 20px;
  border-radius: 60px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  color: #ffffff;
  width: fit-content;
  border: none;
  &.white {
    svg {
      circle {
        fill: #ea4073;
        &:first-child {
          fill: #ffffff;
        }
      }
      path {
        stroke: #ea4073;
      }
    }
  }
}

.section-label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  padding: 10px;
  width: 160px;
  background: #ea4073;
  border-radius: 60px;
}

.connect {
  margin: 150px 0;
  @media (max-width: 992px) {
    margin: 100px 0;
  }
  &__top {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 30px;
    }
    h2 {
      color: #fff;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
      text-align: left;
      margin: 0;
      width: 50%;
      flex-grow: 1;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    p {
      color: #acabae;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      margin: 0;
      width: 50%;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
  &__bottom {
    display: flex;
    gap: 30px;
    .col-01 {
      width: calc(50% - 15px);
      @media (max-width: 992px) {
        width: 100%;
      }
      form {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        button {
          margin: 10px 0 0 0 !important;
          width: 255px;
          justify-content: space-between;
          border: none;
        }

        > div {
          width: calc(50% - 15px);
          position: relative;
          @media (max-width: 992px) {
            width: 100%;
          }
          &.full {
            width: 100%;
          }
          .error {
            position: absolute;
            left: 0;
            color: #e74848;
            font-size: 10px;
          }
          input,
          textarea {
            width: 100%;

            color: #ffffff;
            height: 50px;
            border-radius: 25px;
            background: #ffffff0d;
            border: 1px solid #ffffff26;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            padding: 0 20px;
            &.invalid {
              border-color: #e74848;
            }
            &::placeholder {
              color: #ffffff4d;
            }
          }

          textarea {
            height: 130px;
            padding: 15px 20px;
          }

          .form-field {
            &.invalid {
              [class$="-control"] {
                border-color: #e74848 !important;
              }
            }
            [class$="-ValueContainer"] {
              height: 50px !important;
              margin: 0 !important;
              padding: 0 !important;
              border: none !important;
              [class$="-Input"] {
                height: 50px !important;
                margin: 0 !important;
                padding: 0 !important;
                border: none !important;
              }
              [class$="-singleValue"] {
                color: #ffffff !important;
              }
            }
            [class$="-IndicatorsContainer"] {
              > span {
                display: none !important;
              }
              [class$="-indicatorContainer"] {
                padding: 0 !important;
              }
            }
          }
        }
      }
    }
    .col-02 {
      width: calc(50% - 15px);
      @media (max-width: 992px) {
        display: none;
      }
    }
  }
}

.thanks-popup-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  pointer-events: none;

  background: #000000b2;
  backdrop-filter: blur(15px);
  &.opened {
    opacity: 1;
    pointer-events: all;
    transition: all 0.5s;
    .popup-inner {
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.5s;
    }
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    min-height: 100%;
  }

  .popup-inner {
    transition: all 0.5s;
    width: 540px;
    max-width: 95%;
    background: #2f2d34;
    padding: 50px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    max-height: 95vh;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    &:-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    @media (max-width: 992px) {
      padding: 40px 24px;
    }
    .popup-close {
      position: absolute;
      right: 40px;
      top: 40px;
      cursor: pointer;
      @media (max-width: 992px) {
        top: 24px;
        right: 24px;
      }
    }

    .success {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      h3 {
        color: #fff;
        margin: 10px 0 10px 0;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
      }
      p {
        margin: 0;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.23px;
        text-align: center;
      }
    }
  }
}

.thankyou-page {
  margin: 150px 0;
  h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }
  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 40px 0;
    @media (max-width: 767px) {
      br {
        display: none;
      }
    }
  }
  a {
    margin: 0 auto;
  }
}

.order-popup-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  pointer-events: none;

  background: #000000b2;
  backdrop-filter: blur(15px);
  &.opened {
    opacity: 1;
    pointer-events: all;
    transition: all 0.5s;
    .popup-inner {
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.5s;
    }
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    min-height: 100%;
  }

  .popup-inner {
    transition: all 0.5s;
    width: 730px;
    max-width: 95%;
    background: #2f2d34;
    padding: 70px 95px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 99999;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    max-height: 95vh;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    &:-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    @media (max-width: 992px) {
      padding: 40px 24px;
    }
    .popup-close {
      position: absolute;
      right: 50px;
      top: 30px;
      cursor: pointer;
      @media (max-width: 992px) {
        top: 24px;
        right: 24px;
      }
    }
    h2 {
      margin: 0 0 10px 0;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
      text-align: left;
      color: #fff;
      width: 100%;
      @media (max-width: 992px) {
        font-size: 24px;
        br {
          display: none;
        }
      }
    }
    h3 {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      margin: 0 0 0 0;
    }
    p {
      color: #ffffff99;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      margin: 0 0 10px 0;
    }
    .service {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      padding: 10px 50px;
      background: #ea4073;
      border-radius: 63px;
    }
    form {
      .form-inner {
        display: flex;
        column-gap: 30px;
        row-gap: 20px;
        flex-wrap: wrap;
        > div {
          width: calc(50% - 15px);
          position: relative;
          &.full {
            width: 100%;
          }

          &.form-block {
            display: flex;
            flex-direction: column;
            label {
              margin: 0 0 10px 0;
              font-size: 16px;
              font-weight: 700;
              line-height: 1.2;
              text-align: left;
              color: #fff;
              width: 100%;
            }
            .file-wrap {
              display: flex;
              flex-direction: column;
              gap: 10px;
              .upload-custom {
                width: 100%;
                color: #ffffff;
                height: 50px;
                border-radius: 25px;
                background: #ffffff0d;
                border: 1px solid #ffffff26;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.2;
                text-align: left;
                padding: 0 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;
              }
              .fileName {
                font-size: 12px;
                font-weight: 400;
                line-height: 1.2;
                text-align: left;
                color: #fff;
                width: 100%;
              }
            }
          }

          &.checkbox {
            width: 100%;
            .error {
              text-align: center;
              width: 100%;
              @media (max-width: 992px) {
                text-align: left;
              }
            }
            input {
              display: none;
              &:checked + label {
                svg {
                  circle:last-child {
                    opacity: 1;
                    transition: all 0.5s;
                  }
                }
              }
            }
            label {
              display: flex;
              align-items: center;
              gap: 10px;
              justify-content: center;
              color: #ffffff;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.2;
              text-align: left;
              svg {
                width: 14px;
                circle:last-child {
                  opacity: 0;
                  transition: all 0.5s;
                }
              }
              span {
                @media (max-width: 992px) {
                  width: calc(100% - 24px);
                }
              }
            }
          }
          @media (max-width: 992px) {
            width: 100%;
          }
          .error {
            position: absolute;
            left: 0;
            color: #e74848;
            font-size: 10px;
          }
          .react-datepicker-wrapper {
            width: 100%;
          }
          input,
          textarea,
          .custom-input {
            width: 100%;

            color: #ffffff;
            height: 50px;
            border-radius: 25px;
            background: #ffffff0d;
            border: 1px solid #ffffff26;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            padding: 0 20px;
            &.invalid {
              border-color: #e74848;
            }
            &::placeholder {
              color: #ffffff4d;
            }
          }
          textarea {
            padding: 15px 20px;
            height: 130px;
          }
        }
      }

      button {
        margin: 10px 0 0 0;
        font-weight: 600;
        width: 255px;
      }
      .success {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h3 {
          color: #fff;
          margin: 10px 0 10px 0;
          font-size: 36px;
          font-weight: 600;
          line-height: 1.2;
          text-align: center;
        }
        p {
          margin: 0;
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          line-height: 18.23px;
          text-align: center;
        }
      }
    }
  }
}
