.cart-wrap {
  margin: 50px 0 70px 0;
  &.empty {
    margin: 150px 0;
    .black-button {
      margin: 0 auto;
    }
  }
  h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 50px 0;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    color: #161616;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 40px 0;
    @media (max-width: 992px) {
      br {
        display: none;
      }
    }
  }

  .cart {
    .cart-head {
      padding: 12px 30px;
      background: #2f2d34;
      border-radius: 99px;
      display: flex;
      gap: 50px;
      justify-content: space-between;
      @media (max-width: 992px) {
        display: none;
      }
      div {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        width: 110px;
        color: #fff;
        &:first-child {
          width: 55%;
          text-align: left;
        }
      }
    }
    .cart-content {
      .cart-item {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        padding: 20px 30px;
        border-bottom: 1px solid #ffffff33;
        @media (max-width: 992px) {
          flex-direction: column;
          padding: 20px 0;
          gap: 20px;
          > div {
            width: 100% !important;
            display: flex;
            justify-content: space-between;

            &:before {
              font-weight: 700;
            }
            &:first-child {
              &:before {
                content: "Product";
              }
            }
            &:nth-child(2) {
              &:before {
                content: "Quantity";
              }
            }
            &:nth-child(3) {
              &:before {
                content: "Price";
              }
            }
            &:nth-child(4) {
              &:before {
                content: "Subtotal";
              }
            }
          }
        }
        &:last-child {
          border: none;
        }
        div {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          text-align: center;
          width: 110px;
          color: #fff;
          &:first-child {
            width: 55%;
            text-align: left;
          }
          button {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #ff5353;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.2;
            text-align: left;
            padding: 0;
            border: none;
            background: transparent;
            float: left;
            margin: 3px 10px 0 0;
          }
        }
      }
    }
  }

  .total {
    display: flex;
    justify-content: center;
    padding: 13px;
    color: #161616;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 40px 0;
    color: #ffffff;
    text-transform: uppercase;
  }
  .button-wrap {
    display: flex;
    justify-content: center;
  }
}

.checkout-wrap {
  margin: 70px auto 100px auto;
  max-width: 540px;
  h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 70px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    &:first-child {
      margin-top: 0;
    }
  }

  form {
    h2 {
      margin-bottom: 40px;
    }
    .billing-data {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      row-gap: 20px;
      > div {
        width: calc(50% - 15px);
        position: relative;
        @media (max-width: 992px) {
          width: 100%;
        }
        .error {
          position: absolute;
          left: 0;
          font-size: 12px;
          color: #ff5353;
        }
        input {
          width: 100%;

          color: #ffffff;
          height: 50px;
          border-radius: 25px;
          background: #ffffff0d;
          border: 1px solid #ffffff26;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          padding: 0 20px;
          &::placeholder {
            color: #ffffff80;
          }
          &.invalid {
            border-color: #ff5353;
          }
        }
      }
    }

    .payment {
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 1px solid #00000033;
      display: flex;
      gap: 15px;
      flex-direction: column;
      @media (max-width: 992px) {
        flex-direction: column;
      }
      div {
        width: 100%;
        position: relative;
        height: 50px;
        padding: 0 20px;
        border: 1px solid #ffffff33;
        background: #ffffff1a;
        border-radius: 25px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
          width: 100%;
        }
      }
      p {
        width: 100%;
        position: relative;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        color: #fff;
        margin: 0;
        @media (max-width: 992px) {
          width: 100%;
        }
      }
    }

    .place-order {
      display: flex;
      gap: 10px;
      align-items: center;
      flex-direction: column;
      @media (max-width: 992px) {
        flex-direction: column;
        gap: 30px;
      }
      .checkbox {
        width: 100%;
        position: relative;
        margin-top: 10px;
        @media (max-width: 992px) {
          width: 100%;
        }
        .error {
          position: absolute;
          left: 0;
          font-size: 12px;
          color: #ff5353;
        }
        input {
          display: none;
          &:checked + label {
            svg {
              rect {
                &:last-child {
                  opacity: 1;
                }
              }
            }
          }
        }
        label {
          display: flex;
          align-items: flex-start;
          gap: 10px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          svg {
            width: 20px;
            height: 20px;
            margin-top: -5px;
            rect {
              &:last-child {
                opacity: 0;
              }
            }
          }
          span {
            width: calc(100% - 30px);
            a {
              color: #ea4073;
            }
          }
        }
      }
      button {
        width: 220px;
        height: 50px;
        margin: 50px 0 20px 0;
        @media (max-width: 992px) {
          width: 220px;
        }
      }
      .privacy {
        color: #fff;
        font-size: 9px;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        a {
          color: #ea4073;
        }
      }
    }
  }
}

.cart-wrap.empty {
  margin: 150px 0;
  h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }
  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 40px 0;
    @media (max-width: 767px) {
      br {
        display: none;
      }
    }
  }
  a {
    margin: 0 auto;
  }
}
