.home-hero {
  margin: 80px 0 150px 0;
  @media (max-width: 992px) {
    margin: 40px 0 150px 0;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    .col-01 {
      h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0 0 25px 0;
        @media (max-width: 992px) {
          font-size: 24px;
          br {
            display: none;
          }
        }
        span {
          background: linear-gradient(90deg, #be8af9 0%, #edc9c6 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
      h2 {
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 40px 0;
        @media (max-width: 992px) {
          font-size: 16px;
          margin-bottom: 30px;
          br {
            display: none;
          }
        }
      }
    }
    .col-02 {
      img {
        margin-top: -50px;
        height: auto;
        @media (max-width: 992px) {
          margin: 0;
        }
      }
    }
  }
}

.services-wrap {
  margin: 150px 0;
  overflow: hidden;
  @media (max-width: 992px) {
    margin: 100px 0;
  }
  &__body {
    height: 400px;
    background-image: url(/images/home/servicesBack.svg);
    background-position: top left;
    background-size: cover;
    padding: 40px 65px;
    border-radius: 20px;
    position: relative;
    @media (max-width: 992px) {
      padding: 100px 30px;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url(/images/home/servicesBefore.svg);
      background-size: cover;
      background-position: right center;
      @media (max-width: 992px) {
        display: none;
      }
    }
    @media (max-width: 992px) {
      height: 690px;
      background-image: url(/images/home/servicesBackMob.svg);
    }
    .section-title {
      position: absolute;
      left: 0;
      top: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      padding: 10px 38px;
      background: #ea4073;
      border-radius: 60px;
    }

    .service-info {
      display: flex;
      gap: 84px;
      align-items: flex-end;
      position: relative;
      z-index: 1;
      @media (max-width: 992px) {
        flex-direction: column;
        gap: 30px;
      }
      h2 {
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        margin: 0;
        width: 20%;
        @media (max-width: 992px) {
          width: 100%;
        }
      }
      > div {
        width: 80%;
        @media (max-width: 992px) {
          width: 100%;
        }
        p {
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          margin: 0 0 30px 0;
        }
        .buttons-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media (max-width: 992px) {
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
          }
          .white-button {
            height: 50px;
            width: auto;
            padding: 0 20px;
          }
          .arrows {
            display: flex;
            gap: 20px;
            img {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .service-slider-wrap {
    max-width: 1110px;
    margin: -165px auto 0 auto;
    padding-left: 65px;
    //padding-left: calc(((100vw - 1110px) / 2) + 65px);
    @media (max-width: 992px) {
      padding-left: 50px;
      margin-top: -120px;
    }
    .slick-slider {
      @media (max-width: 992px) {
        padding-right: 30px;
      }
      .slick-arrow {
        display: none !important;
      }
      .slick-list {
        padding-right: 150px;
        margin: 0 -8px;
        overflow: visible;
        .slick-track {
          display: flex !important;
          .slick-slide {
            padding: 0 8px;
            height: inherit !important;
            > div {
              height: 100% !important;
              > div {
                height: 100% !important;
                background: #2f2d34;
                padding: 20px 30px;
                border-radius: 20px;
                display: flex !important;
                flex-direction: column;
                align-items: flex-start;
                .number {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #ea4073;
                  border-radius: 50%;
                  width: 50px;
                  height: 50px;
                  color: #ffffff;
                  font-size: 24px;
                  font-weight: 700;
                  line-height: 1;
                  text-align: center;
                }
                h3 {
                  color: #ffffff;
                  font-size: 20px;
                  font-weight: 700;
                  line-height: 1.2;
                  text-align: left;
                  margin: 20px 0 15px 0;
                  text-transform: uppercase;
                }
                p {
                  color: #ffffff99;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 1.2;
                  text-align: left;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.home-about {
  margin: 150px 0 340px 0;
  height: 945px;
  background-image: url(/images/home/homeAboutBack.svg);
  background-position: left top;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160px;
  @media (max-width: 992px) {
    margin: 100px 0 175px 0;
    padding-top: 80px;
    background-image: url(/images/home/homeAboutBackMob.svg);
    height: 565px;
  }

  .about-img {
    @media (max-width: 992px) {
      display: none;
    }
  }

  &__top {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 50px;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 20px;
    }
    p {
      width: calc(100% - 190px);
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.8px;
      text-align: left;
      color: #191919;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }

  &__bottom {
    margin-top: 100px;
    height: 420px;
    background-image: url(/images/home/homeAboutBottomBack.svg);
    background-position: right top;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 65px;
    position: relative;
    @media (max-width: 992px) {
      width: calc(100% + 32px);
      margin-left: -16px;
      margin-top: 40px;
      height: auto;
      padding: 40px 20px;
      background-image: none;
      background: linear-gradient(102.11deg, #8c4cf5 42.36%, #e8c2ba 117.58%);
    }
    p {
      margin: 20px 0 0 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.8px;
      text-align: left;
      color: #ffffff;
      @media (max-width: 992px) {
        br {
          display: none;
        }
      }
    }
    img {
      position: absolute;
      width: 470px;
      right: 65px;
      bottom: 0;
      @media (max-width: 992px) {
        display: none;
      }
    }
  }
}

.home-values {
  margin: 150px 0;
  @media (max-width: 992px) {
    margin: 100px 0;
  }

  .values-wrap {
    overflow-x: auto;
    margin-top: 40px;
    .values-row {
      display: flex;
      gap: 15px;
      width: 1110px;
      > div {
        width: 210px;
        background: #2f2d34;
        border-radius: 20px;
        padding: 30px 20px;
        background-image: url(/images/home/valueBack.svg);
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
        h2 {
          color: #fff;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          margin: 0 0 10px 0;
          text-transform: uppercase;
        }
        p {
          color: #ffffff99;
          margin: 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
        }
      }
    }
  }
}

.connect {
  margin: 150px 0;
  @media (max-width: 992px) {
    margin: 100px 0;
  }
  &__top {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 30px;
    }
    h2 {
      color: #fff;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
      text-align: left;
      margin: 0;
      width: 50%;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    p {
      color: #acabae;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      margin: 0;
      width: 50%;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
  &__bottom {
    display: flex;
    gap: 30px;
    .col-01 {
      width: calc(50% - 15px);
      @media (max-width: 992px) {
        width: 100%;
      }
      form {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        button {
          margin: 10px 0 0 0 !important;
          width: 255px;
          justify-content: space-between;
          border: none;
        }

        > div {
          width: calc(50% - 15px);
          position: relative;
          @media (max-width: 992px) {
            width: 100%;
          }
          &.full {
            width: 100%;
          }
          .error {
            position: absolute;
            left: 0;
            color: #e74848;
            font-size: 10px;
          }
          input,
          textarea {
            width: 100%;

            color: #ffffff;
            height: 50px;
            border-radius: 25px;
            background: #ffffff0d;
            border: 1px solid #ffffff26;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            padding: 0 20px;
            &.invalid {
              border-color: #e74848;
            }
            &::placeholder {
              color: #ffffff4d;
            }
          }

          textarea {
            height: 130px;
            padding: 15px 20px;
          }

          .form-field {
            &.invalid {
              [class$="-control"] {
                border-color: #e74848 !important;
              }
            }
            [class$="-ValueContainer"] {
              height: 50px !important;
              margin: 0 !important;
              padding: 0 !important;
              border: none !important;
              [class$="-Input"] {
                height: 50px !important;
                margin: 0 !important;
                padding: 0 !important;
                border: none !important;
              }
              [class$="-singleValue"] {
                color: #ffffff !important;
              }
            }
            [class$="-IndicatorsContainer"] {
              > span {
                display: none !important;
              }
              [class$="-indicatorContainer"] {
                padding: 0 !important;
              }
            }
          }
        }
      }
    }
    .col-02 {
      width: calc(50% - 15px);
      @media (max-width: 992px) {
        display: none;
      }
    }
  }
}

.home-story {
  position: relative;
  z-index: 6;
  &__body {
    display: flex;
    gap: 30px;
    padding: 65px;
    background-image: url(/images/home/storyBack.svg);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    border-radius: 20px;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 20px;
      padding: 40px 30px 100px 30px;
      background-image: url(/images/home/storyBackMob.svg);
    }
    h2 {
      color: #fff;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
      text-align: left;
      margin: 0;
      width: 20%;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    p {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      margin: 0;
      width: 80%;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
}

.home-solutions {
  margin-top: -125px;
  .what-we-do {
    padding: 220px 0 100px 0;
    display: block;
    background-image: url(/images/home/whatWeDoBack.svg);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    z-index: 5;
    @media (max-width: 992px) {
      padding: 175px 0 100px 0;
      background-image: url(/images/home/whatWeDoBackMob.svg);
    }
  }

  .client-results{
    margin-top: -140px;
    padding: 200px 0 100px 0;
    display: block;
    background-image: url(/images/home/clientResultsBack.svg);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    z-index: 4;
    @media (max-width: 992px) {
      margin-top: -240px;
      padding: 280px 0 100px 0;
      background-image: url(/images/home/clientResultsBackMob.svg);
    }
  }

  .industry-news{
    margin-top: -140px;
    padding: 200px 0 100px 0;
    display: block;
    background-image: url(/images/home/industryNewsBack.svg);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    z-index: 3;
    @media (max-width: 992px) {
      margin-top: -240px;
      padding: 280px 0 100px 0;
      background-image: url(/images/home/industryNewsBackMob.svg);
    }
  }

  .articles{
    margin-top: -140px;
    padding: 200px 0 100px 0;
    display: block;
    background-image: url(/images/home/whatWeDoBack.svg);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    @media (max-width: 992px) {
      margin-top: -240px;
      padding: 280px 0 100px 0;
      background-image: url(/images/home/whatWeDoBackMob.svg);
    }
  }

  .careers{
    margin-top: -140px;
    padding: 200px 0 100px 0;
    display: block;
    background-image: url(/images/home/clientResultsBack.svg);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    @media (max-width: 992px) {
      margin-top: -240px;
      padding: 280px 0 100px 0;
      background-image: url(/images/home/clientResultsBackMob.svg);
    }
  }

  .row {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 20px;
    }
    h2 {
      color: #191919;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
      text-align: left;
      margin: 0;
      width: 40%;
      @media (max-width: 992px) {
        width: 100%;
      }
      &.white{
        color: #fff;
      }
    }
    > div {
      width: 60%;
      @media (max-width: 992px) {
        width: 100%;
      }
      p {
        color: #191919;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 30px 0;
        &.white{
          color: #ACABAE;
        }
      }
      a{
        width: 285px;
      }
    }
  }
}
