.what-hero {
  margin: 80px 0 150px 0;
  @media (max-width: 767px) {
    margin: 40px 0 150px 0;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px;
    @media (max-width: 767px) {
      gap: 40px;
    }
    .col-01 {
      width: calc(50% - 30px);
      @media (max-width: 767px) {
        width: 100%;
      }
      h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0 0 25px 0;
        @media (max-width: 767px) {
          font-size: 24px;
          br {
            display: none;
          }
        }
        span {
          background: linear-gradient(90deg, #be8af9 0%, #edc9c6 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
      h2 {
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 40px 0;
        @media (max-width: 767px) {
          font-size: 15px;
          margin-bottom: 30px;
          br {
            display: none;
          }
        }
      }
    }
    .col-02 {
      width: calc(50% - 30px);
      @media (max-width: 767px) {
        width: 100%;
      }
      img {
        margin-top: -50px;
        height: auto;
        @media (max-width: 767px) {
          margin: 0;
        }
      }
    }
  }
}

.our-approach {
  margin: 150px 0;
  @media (max-width: 767px) {
    margin: 100px 0;
  }
  &__body {
    p {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      margin: 25px 0 50px 0;
    }

    .steps-wrap {
      overflow-x: auto;
      .steps-row {
        width: 1110px;
        display: flex;
        gap: 30px;
        .step {
          width: 255px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          h2 {
            color: #ea4073;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.2;
            text-align: left;
            margin: 0;
          }
          h3 {
            color: #ffffff;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.2;
            text-align: left;
            margin: 0 0 10px 0;
          }
          > div {
            background: #2f2d34;
            border-radius: 24px;
            padding: 30px;
            height: 170px;
            p {
              font-size: 14px;
              color: #ffffff99;
              margin: 0;
              b {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  &.features {
    .top-row {
      display: flex;
      align-items: center;
      gap: 30px;
      margin: 0 0 50px 0;
      @media (max-width: 767px) {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
      }
      .section-label {
        width: auto;
        padding: 10px 40px;
      }
      p {
        font-size: 16px;
        margin: 0;
      }
    }
    .our-approach__body {
      .steps-wrap {
        .steps-row {
          .step {
            > div {
              height: 156px;
              &.value {
                height: 235px;
              }
            }
          }
        }
      }
    }
  }

  &.values {
    .top-row {
      display: flex;
      align-items: center;
      gap: 30px;
      margin: 0 0 50px 0;
      @media (max-width: 767px) {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
      }
      .section-label {
        width: auto;
        padding: 10px 40px;
      }
      p {
        font-size: 16px;
        margin: 0;
      }
    }
    .our-approach__body {
      .steps-wrap {
        .steps-row {
          gap: 15px;
          .step {
            width: 210px;
            > div {
              &.value {
                height: 235px;
                width: 210px;
                background: #2f2d34;
                border-radius: 20px;
                padding: 30px 20px;
                background-image: url(/images/home/valueBack.svg);
                background-position: top right;
                background-size: contain;
                background-repeat: no-repeat;
                h2 {
                  color: #fff;
                  font-size: 20px;
                  font-weight: 700;
                  line-height: 1.2;
                  text-align: left;
                  margin: 0 0 10px 0;
                  text-transform: uppercase;
                }
                p {
                  color: #ffffff99;
                  margin: 0;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 1.2;
                  text-align: left;
                  b {
                    color: #ffffff;
                  }
                  &:nth-child(2) {
                    margin-bottom: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.our-techniques {
  margin: 150px 0;
  @media (max-width: 767px) {
    margin: 100px 0;
  }
  &__body {
    padding: 100px 65px 0 65px;
    background-image: url(/images/whatWeDo/techniquesBack.svg);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    @media (max-width: 767px) {
      padding: 80px 20px 0 20px;
      background-image: url(/images/whatWeDo/techniquesBackMob.svg);
    }
    .top-row {
      display: flex;
      gap: 50px;
      margin-bottom: 40px;
      @media (max-width: 767px) {
        flex-direction: column;
        gap: 20px;
      }
      h2 {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        margin: 0;
        width: 30%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
      p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        margin: 0;
        width: 70%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
    .techniques-wrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .row {
        height: 78px;
        display: flex;
        gap: 50px;
        background: #ffffff;
        align-items: center;
        position: relative;
        border-radius: 20px;
        @media (max-width: 767px) {
          height: auto;
          padding: 28px 30px;
          flex-direction: column;
          gap: 15px;
        }
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 24px;
          width: 5px;
          height: 30px;
          border-radius: 0px 5px 5px 0px;
          background: #ea4073;
        }
        h3 {
          color: #191919;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          margin: 0;
          width: 30%;
          padding-left: 30px;
          @media (max-width: 767px) {
            width: 100%;
            padding: 0;
          }
        }
        p {
          color: #191919;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          margin: 0;
          width: 70%;
          @media (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.your-path {
  margin: 150px 0;
  @media (max-width: 767px) {
    margin: 100px 0;
  }

  h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin: 0 0 30px 0;
  }
  h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    margin: 0 0 40px 0;
    @media (max-width: 767px) {
      br {
        display: none;
      }
    }
  }

  .your-path-wrap {
    overflow-x: auto;
    margin-top: 40px;
    .your-path-row {
      display: flex;
      gap: 15px;

      flex-wrap: wrap;
      @media (max-width: 767px) {
        flex-wrap: nowrap;
        width: 1110px;
      }
      > div {
        width: 210px;
        background: #2f2d34;
        border-radius: 20px;
        padding: 30px 20px;
        background-image: url(/images/home/valueBack.svg);
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
        h2 {
          color: #fff;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          margin: 0 0 10px 0;
          text-transform: uppercase;
        }
        p {
          color: #ffffff99;
          margin: 0;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          b {
            color: #ffffff;
          }
          &:nth-child(2) {
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  .why-choose-bottom {
    margin-top: 40px;
  }
}

.stand-out {
  margin: 150px 0;
  @media (max-width: 767px) {
    margin: 100px 0;
  }
  &__body {
    padding: 100px 65px 0 65px;
    background-image: url(/images/whatWeDo/standOutBack.svg);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    @media (max-width: 767px) {
      padding: 80px 20px 0 20px;
      background-image: url(/images/whatWeDo/standOutBackMob.svg);
    }
    .top-row {
      display: flex;
      gap: 50px;
      margin-bottom: 40px;
      @media (max-width: 767px) {
        flex-direction: column;
        gap: 20px;
      }
      h2 {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        margin: 0;
        width: 30%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
      p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        margin: 0;
        width: 70%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
    .stand-out-wrap {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      > div {
        background: #ffffff;
        border-radius: 20px;
        padding: 30px;
        width: calc(50% - 15px);
        @media (max-width: 767px) {
          width: 100%;
        }
        h2 {
          color: #191919;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          margin: 0 0 20px;
          span {
            color: #ea4073;
            margin-right: 16px;
          }
        }
        p {
          color: #191919;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          margin: 0 0 16px 0;
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}
